<!doctype html>
<html>
<head>
  <title>Create Class</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
</head>
<body>
<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-edit"></span> User sign up Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

<div class = "col-xs-6">
  <!-- TEACHER SIGNUP FORM -->
  <form action="/signupteacher" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Signup</button>
  <div><label>Teacher sign up</label></div>
  </form>
</div>
<div class = "col-xs-6">
  <!-- STUDENT SIGNUP FORM -->
  <form action="/signupstudent" method="post">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Signup</button>
  <div><label>Student sign up</label></div>
  </form>
</div>

<label></label>

</body>
</html>