<!doctype html>
<html>
<head>
  <title>Add User to Class Page</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
</head>
<body>
<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-edit"></span> Add User to Class Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

<div class = "col-xs-6">
  <!-- TEACHER SIGNUP FORM -->
  <form action="/signupteacher" method="post">
    <div class="form-group">
      <div>
          <label>List of Stuents</label>
      </div>

      <div>
          <input type="checkbox" id="myCheck"> Jonh Doe 
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Victor Braden 
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Yoshida Yamato 
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Alex Mahoun
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Yohan Smith
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Nell Tomson
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Rosey Kim
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>

       <div>
          <input type="checkbox" id="myCheck"> Owen Jackson
          <select>
           <option value="volvo">MathClass</option>
           <option value="saab">SienceClass</option>
           <option value="vw">SocialSciClass</option>
           <option value="audi" selected>EnglishClass</option>
          </select>
      </div>
  </form>
</div>
<div class = "col-xs-6">
  <!-- STUDENT SIGNUP FORM -->
  <form action="/signupstudent" method="post">
    <button type="submit" class="btn btn-primary">  OK  </button>
  </form>
</div>

<label></label>

</body>
</html>