<!doctype html>
<html>
<head>
	<title>Easy Class</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1></span> Welcome to Easy Class</h1>

		<p>Login as</p>

		<a href="/teacherlogin" class="btn btn-primary"><span class="fa fa-user"></span> Teacher</a>
		<a href="/studentlogin" class="btn btn-info"><span class="fa fa-user"></span> Student</a>
		<a href="/administratorlogin" class="btn btn-danger"><span class="fa fa-user"></span> Administrator</a>
	</div>

</div>
</body>
</html>